---
# Patch to customize Talos machine configuration for Nextcloud
machine:
  install:
    disk: ${BOOTDISK}
  disks:
    - device: ${DATADISKS}
  network:
    hostname: nextcloud
  filesystems:
    - device: tank/nextcloud
      mountpoint: /var/lib/containers
      type: zfs
cluster:
  network:
    cni:
      name: custom
